<%= render "shared/home_header" %>
<div class="diary-main">
  <div class="diary-left">
    <div class="new-diary">
      <%= link_to "時間わり作成", new_timetable_path %>
    </div>
    <div class="left-diary-title">
      <p>これまでの時間割</p>
    </div>
    <div class="left-diary-index">
      <% @timetables.each do |timetable|%>
        <div class="diary-index" id="diary-index">
          <div class="diary-day">
            <%= link_to timetable.next_day, timetable_path(timetable)%>
          </div>
        </div>
        <% end %>
    </div>

   

  </div>
  </div>
<%= render "shared/home_footer" %>