.show-detail {
  display: flex;
  background-color: white;
  border: 1px solid black;
  width: 100%;
  
}

.show-left {
  margin-right: 60px;
}

.show-detail li {
  font-size: 42px;
}

.select-box-timetable {
  width: 50%;
  display: block;
  margin: 0 auto;
  background-color: white;
  margin-top: 5px;
  padding: 5px 8px 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.timetable-menu {
  text-align: center;
  margin-top: 10px;
}

.weight-bold-timetable {
  margin: 10px 0px;
}








