.timetable-main {
  background-color: #D0F4De;
  min-height: calc( 100vh - 160px );
  min-height: calc( 100% - 160px );
  display: flex; 
}

.timetable-left {
  width: 20%;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  height: calc( 100% - 160px );
  min-height: calc( 100vh - 160px );

}

.new-timetable {
  font-size: 32px;
  border: 2px solid black;
  box-shadow: 4px 2px 2px -2px;
  margin-bottom: 20px;
}

.new-timetable a {
  text-decoration: none;
  color: black;
}

.timetable-index {
  margin-top: 10px;
  text-align: center;
}

.timetable-index a {
  color: black;
}

.left-timetable-title {
  margin-bottom: 10px;
}

.timetable-right {
  width: 50%;
  margin: 20px auto;
  height: calc( 100% - 160px );

}

.timetable-right-show {
  width: 50%;
  margin: 20px auto;
  height: calc( 100% - 160px );
  min-height: calc( 100vh - 160px );
}

.show-detail {
  display: flex;
  background-color: white;
  border: 1px solid black;
  width: 100%;
}


.index-timetable {
  background-color: white;
  border: 1px solid black;
  display: flex;
  margin-top: 20px;
}

.index-timetable li{
  font-size: 24px;
}

.timetable-index-left {
  width: 50%;
  padding: 30px;
  border-right: 1px solid black;
}

.timetable-index-right {
  width: 50%;
  padding: 30px;
  font-size: 24px;
}

.homework-area {
  height: 50%;
}

.timetable-index-under {
  border: 1px solid black;
  border-top: none;
  background-color: white;
  padding: 30px;
  font-size: 24px;
}

.show-left {
  margin-right: 60px;
}

.show-detail li {
  font-size: 42px;
}

.select-box-timetable {
  width: 50%;
  display: block;
  margin: 0 auto;
  background-color: white;
  margin-top: 5px;
  padding: 5px 8px 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.timetable-menu {
  text-align: center;
  margin-top: 10px;
}

.weight-bold-timetable {
  text-align: left;
  margin-top: 10px;
  margin-left: 215px;
}

.select-box-leave-time {
  width: 100%;
  display: block;
  margin: 0 auto;
  background-color: white;
  margin-top: 5px;
  padding: 5px 8px 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.timetable-edit-delete a{
  color: red;
  font-size: 24px;
}

@media (max-width: 1000px) {
  .timetable-left {
    width: 60%;
    margin:0 auto;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    padding: 10px;  
  }

  .timetable-right {
    display: none;
  }

  .timetable-right-show {
    margin: 20px auto;
  }

  .index-timetable li{
    font-size: 18px;
  }

  .timetable-index-right {
    font-size: 18px;
  }

  .timetable-index-under {
    font-size: 18px;
  }

  

}

/* スマホ表示時 */
@media (max-width: 500px) {
  .timetable-right-show {
    width: 90%;
    margin: 20px auto;
    height: calc( 100% - 160px );
    min-height: calc( 100vh - 160px );
  }

  .index-timetable li{
    font-size: 10px;
  }

  .timetable-index-right {
    width: 50%;
    padding: 30px;
    font-size: 12px;
  }
  

  
  .timetable-index-under {
    border: 1px solid black;
    border-top: none;
    background-color: white;
    padding: 30px;
    font-size: 12px;
  }
}

