<footer>
<div class="footer-left">
  <i class="fas fa-book-reader"></i>  楽ちょ〜電子連絡帳〜
</div>
<div class="footer-right">
  <ul class="footer-list"> 
     <li><%= link_to "会社概要（運営会社)", "#" %></li>
     <li class="top-tag"><%= link_to "プライバシーポリシー", "#" %><li>
     <li class="top-tag"><%= link_to "楽ちょ利用規約", "#" %></li>
     <li class="top-tag"><%= link_to "ポイントに関する特約", "#" %></li>
 </ul>
</div>
</footer>