.side_bar {
  width: 20%;
  min-height: calc( 100vh - 160px );
  background-color: white;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}

.chat-side-title {
  text-align: center;
  margin-bottom: 10px;
}

.make-chatroom a {
  color: black;
}

.chat-left-title{
  font-size: 24px;
  border: 2px solid black;
  box-shadow: 4px 2px 2px -2px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px;
}

.room {
  font-size: 20px;
  border: 1px solid black;
  margin: 10px 0px;
  padding: 10px;
}

.room-name a {
  color: black;
  display: block;
  text-align: center;
}

.register-pink-btn-chat {
  width: 50%;
  background: #ff99c8;
  border: 1px solid #ff99c8;
  color: white;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 30px;
}

.chat-room-form_field {
  text-align: center;
}

.chat-room-form__field--right {
  display: block;
  width: 100%;
}

@media (max-width: 1000px) {
  .side_bar {
    width: 60%;
    margin:0 auto;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    padding: 10px;  
  }

  .responsive_chat {
    display: none;
  }

  .chat-head {
    width: 100%;
    border-bottom: 1px solid black;
    margin: 0 auto;
  }

  .main_chat {
    margin: 0 auto;
    width: 100%;
  }

  .register-pink-btn-chat {
    width: 50%;
    background: #ff99c8;
    border: 1px solid #ff99c8;
    color: white;
    line-height: 48px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 30px;
  }

  .form-image {
    font-size: 12px;
    background-color: blue;
    color: white;
    width: 60px;
    margin: 0 10px;
    padding: 8px;
    text-align: center;
    cursor: pointer;
  }

  .chat-foot {
    width:  100%;
  }

  .forms {
    width: 80%;
  }

  .image-submit {
    width: 20%;
  }
}



/* スマホ表示時 */
@media (max-width: 500px) {
  .chat-head {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid black;
    font-size: 14px;
  }

  .chatroom-end a{
    color: white;
    font-size: 12px;
    display: block;
  }

  .form-image {
    font-size: 12px;
    background-color: blue;
    color: white;
    width: 60px;
    margin: 0 10px;
    padding: 8px;
    text-align: center;
    cursor: pointer;
  }

  .chat-foot {
    width:  100%;
  }

  .forms {
    width: 60%;
  }

  .image-submit {
    width: 40%;
  }

  .make-chatroom a {
    color: black;
    font-size: 16px;
  }
}