.diary-main {
  background-color: #D0F4De;
  height: calc( 100% - 160px );
  min-height: calc( 100vh - 160px );
  display: flex; 
}

.diary-left {
  width: 20%;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
 
}

.new-diary {
  font-size: 32px;
  border: 2px solid black;
  box-shadow: 4px 2px 2px -2px;
  margin-bottom: 20px;
}

.new-diary a {
  text-decoration: none;
  color: black;
}

.diary-index {
  margin-top: 10px;
  text-align: center;
}

.diary-index a {
  color: black;
}

.left-diary-title {
  margin-bottom: 10px;
}

.diary-right {
  width: 50%;
  margin: 20px auto;
}

.diary-detail {
  border: 1px solid black;
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}

.diary-title-right {
  display: flex;
  justify-content: left;
}

.detail-diary {
  padding: 0px 20px;
  height: 100%;
}


.first-detail {
  height: 10%;
  padding: 5px;
}


.top-detail {
  height: 10%;
  padding: 5px;
}

.second-detail {
  
  width: 100%;
  height: 10%;
  padding: 5px;
}

.third-detail {
  
  width: 100%;
  height: 50%;
  padding: 10px;
}

.diary-end {
  padding: 20px;
} 

.diary-comment h4 {
  font-size: 24px;
}

.third-detail-show {
  
  width: 100%;
  height: 80%;
  padding: 10px;
}

.detail-left-show {
  
  height: 95%;
}

.diary-edit-delete a{
  color: red;
  font-size: 24px;
}

.diary-errors {
  color: red;
  text-align: center;
<<<<<<< Updated upstream
=======
}

.link-font {
  color: black;
}

@media (max-width: 1000px) {
  
  .diary-left {
    width: 60%;
    margin:0 auto;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    padding: 10px;  
  }

  .diary-right {
    display: none;
  }

  .diary-right-show {
    padding: 10px;
    width: 100%;
  }

  .comment-name {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .comment-line {
    display: none;
  }
}

/* スマホ表示時 */
@media (max-width: 500px) {
  p {
    font-size: 20px;
  }
>>>>>>> Stashed changes
}