.contact-main {
  background-color: #D0F4De;
  height: calc( 100% - 160px );
  min-height: calc( 100vh - 160px );
  display: flex; 
}

.contact-left {
  width: 20%;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}

.new-contact {
  font-size: 32px;
  border: 2px solid black;
  box-shadow: 4px 2px 2px -2px;
  margin-bottom: 20px;
}

.new-contact a {
  text-decoration: none;
  color: black;
}

.contact-index {
  margin-top: 10px;
  text-align: center;
}

.contact-index a {
  color: black;
}

.contact-show {
  background-color: #D0F4DE;
  padding: 3% 20%;
  height: calc( 100% - 160px );
  min-height: calc( 100vh - 160px );
  font-size: 16px;
}

.contact-table {
  background-color: white;
  width: 100%;
}

.name-detail {
  height: 30px;
  line-height: 30px;
  padding: 0px 10px;
  border-bottom: 1px solid black;
}

.first-detail-contact {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-bottom: 1px solid black;
}

.second-detail-contact {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-bottom: 1px solid black;
}

.third-detail-contact {
  border-bottom: 1px solid black;
  height: 150px;
  padding: 10px;
}

.fourth-detail-contact {
  border-bottom: 1px solid black;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}

.fifth-detail-contact {
  border-bottom: 1px solid black;
  height: 150px;
  padding: 10px;
}

.contact-edit-delete {
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
}

.contact-edit-delete a {
  font-size: 24px;
  color: red;
}


