<%= render "shared/home_header" %>
<div class="wrapper">
  <div class="side_bar responsive_chat">
    <%= render "side_bar" %>
  </div>
  <div class="main_chat">
    <%= render "main_chat" %> 
  </div>
</div>
<%= render "shared/home_footer" %>
