.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-pink-btn {
  width: 100%;
  background: #ff99c8;
  border: 1px solid #ff99c8;
  color: white;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.login-flash-message {
  text-align: center;
  color: red;
}